<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.BackgroundImageMapper">

    <resultMap id="selectListNewMap" type="com.kuafu.web.entity.BackgroundImage">
            <result property="backgroundImageId" column="background_image_id"/>
            <result property="userInfoUserInfoId1" column="user_info_user_info_id_1"/>
            <result property="imageFilesResourceKey" column="image_files_resource_key"/>
            <result property="uploadTime" column="upload_time"/>
            <collection property="imageFiles" ofType="com.kuafu.common.domin.StaticResource">
                <id property="resourceId" column="image_files_resource_id"/>
                <result property="resourceName" column="image_files_resource_name"/>
                <result property="resourcePath" column="image_files_resource_path"/>
                <result property="relatedTableName" column="image_files_related_table_name"/>
                <result property="relatedTableKey" column="image_files_related_table_key"/>
                <result property="relateTableColumnName" column="image_files_relate_table_column_name"/>
            </collection>
    </resultMap>


    <select id="selectList" resultMap="selectListNewMap">
        select
            bi.background_image_id   ,
            bi.user_info_user_info_id_1   ,
            bi.image_files_resource_key   ,
            bi.upload_time   
            ,image_files.resource_id as  image_files_resource_id
            ,image_files.resource_name as image_files_resource_name
            ,image_files.resource_path as  image_files_resource_path
            ,image_files.related_table_name as  image_files_related_table_name
            ,image_files.related_table_key as  image_files_related_table_key
            ,image_files.relate_table_column_name as image_files_relate_table_column_name
        FROM background_image bi
            left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='background_image' and relate_table_column_name='image_files'
        ) as image_files on image_files.related_table_key=bi.background_image_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectPage" resultMap="selectListNewMap">
        select
        bi.background_image_id   ,
        bi.user_info_user_info_id_1   ,
        bi.image_files_resource_key   ,
        bi.upload_time   
        ,image_files.resource_id as  image_files_resource_id
        ,image_files.resource_name as image_files_resource_name
        ,image_files.resource_path as  image_files_resource_path
        ,image_files.related_table_name as  image_files_related_table_name
        ,image_files.related_table_key as  image_files_related_table_key
        ,image_files.relate_table_column_name as image_files_relate_table_column_name
        FROM background_image bi
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='background_image' and relate_table_column_name='image_files'
        ) as image_files on image_files.related_table_key=bi.background_image_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultMap="selectListNewMap">
        select
        bi.background_image_id   ,
        bi.user_info_user_info_id_1   ,
        bi.image_files_resource_key   ,
        bi.upload_time   
        ,image_files.resource_id as  image_files_resource_id
        ,image_files.resource_name as image_files_resource_name
        ,image_files.resource_path as  image_files_resource_path
        ,image_files.related_table_name as  image_files_related_table_name
        ,image_files.related_table_key as  image_files_related_table_key
        ,image_files.relate_table_column_name as image_files_relate_table_column_name
        FROM background_image bi
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='background_image' and relate_table_column_name='image_files'
        ) as image_files on image_files.related_table_key=bi.background_image_id


        where bi.background_image_id = #{id}
    </select>

</mapper>
