<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.UserInfoAllMapper">


        <select id="selectList" resultType="com.kuafu.web.entity.UserInfoAll">
            select
            ui.student_id   ,
            ui.college   ,
            ui.user_info_id   ,
            ui.password   ,
            ui.major   ,
            ui.role_enum_role_enum_id_1   ,
            re.role_name   ,
            ui.name   ,
            ui.phone_number   ,
            use.status_name   ,
            ui.registration_date   ,
            ui.user_status_enum_user_status_enum_id_1   
            FROM user_info ui
                left join role_enum re on ui.role_enum_role_enum_id_1 = re.role_enum_id
                left join user_status_enum use on ui.user_status_enum_user_status_enum_id_1 = use.user_status_enum_id
            ${ew.customSqlSegment}
        </select>

        <select id="selectPage" resultType="com.kuafu.web.entity.UserInfoAll">
            select
            ui.student_id  ,
            ui.college  ,
            ui.user_info_id  ,
            ui.password  ,
            ui.major  ,
            ui.role_enum_role_enum_id_1  ,
            re.role_name  ,
            ui.name  ,
            ui.phone_number  ,
            use.status_name  ,
            ui.registration_date  ,
            ui.user_status_enum_user_status_enum_id_1  
            FROM user_info ui
                left join role_enum re on ui.role_enum_role_enum_id_1 = re.role_enum_id
                left join user_status_enum use on ui.user_status_enum_user_status_enum_id_1 = use.user_status_enum_id
            ${ew.customSqlSegment}
        </select>

        <select id="selectById" resultType="com.kuafu.web.entity.UserInfoAll">
            select
            ui.student_id  ,
            ui.college  ,
            ui.user_info_id  ,
            ui.password  ,
            ui.major  ,
            ui.role_enum_role_enum_id_1  ,
            re.role_name  ,
            ui.name  ,
            ui.phone_number  ,
            use.status_name  ,
            ui.registration_date  ,
            ui.user_status_enum_user_status_enum_id_1  
            FROM user_info ui
                left join role_enum re on ui.role_enum_role_enum_id_1 = re.role_enum_id
                left join user_status_enum use on ui.user_status_enum_user_status_enum_id_1 = use.user_status_enum_id
            where ui.user_info_id = #{id}
        </select>


</mapper>
